head
  title BenchMark
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  // Load an icon library to show a hamburger menu (bars) on small screens
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  script(src='leaflet.markercluster.js')
  link(href='MarkerCluster.css')
  link(href='MarkerCluster.Default.css')
  script(src='OverPassLayer.bundle.js')
  script(src='https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js')
  script(src='https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js')
  link(rel='stylesheet' type='text/css' href='https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css')
  script(data-ad-client='ca-pub-5766675824203736' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.2/dist/L.Control.Locate.min.css')
  script(src='https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.2/src/L.Control.Locate.min.js' charset='utf-8')
  // After Leaflet and Leaflet.markercluster scripts
  // <script src="https://unpkg.com/leaflet.markercluster.layersupport@2.0.1/dist/leaflet.markercluster.layersupport.js"></script>
  style.
    body{margin:0 ;}
    /* Style the navigation menu */
    .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
    display: none;
    }
    /* Style navigation menu links */
    .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
    background: #4CAF50;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    /* Style the active link (or home/logo) */
    .active {
    background-color: #4CAF50;
    color: white;
    }
    #mapSearchContainer{
    position:fixed;
    top:20px;
    right: 40px;
    height:30px;
    width:180px;
    z-index:110;
    font-size:10pt;
    color:#5d5d5d;
    border:solid 1px #bbb;
    background-color:#f8f8f8;
    }
    .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #4CAF50 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    }
    .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    }
    .bg3 {
    animation-duration:5s;
    }
    @keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
    }
    .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
    @media only screen and (min-width: 600px) {
    div.responsive {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    }
    }
    <b:if cond='data:blog.pageType == &quot;item&quot;'>
    <style type='text/css'>
    /*<![CDATA[*/
    @font-face{font-family:"fontfutura";src:url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");font-weight:normal;font-style:normal;}
    a.btn-google{color:#fff}
    .btn{padding:10px 16px;margin:5px;font-size:18px;line-height:1.3333333;border-radius:6px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none;display:inline-block}
    .btn:active:focus,.btn:focus{outline:0}
    .btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0}
    .btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
    .btn-google{color:#fff;background-color:#111;border-color:#000;padding:15px 16px 5px 40px;position:relative;font-family:fontfutura;font-weight:600}
    .btn-google:focus{color:#fff;background-color:#555;border-color:#000}
    .btn-google:active,.btn-google:hover{color:#fff;background-color:#555;border-color:#000;}
    .btn-google:before{content:"";background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);background-size:cover;background-repeat:no-repeat;width:30px;height:30px;position:absolute;left:6px;top:50%;margin-top:-15px}
    .btn-google:after{content:"GET IT ON";position:absolute;top:5px;left:40px;font-size:10px;font-weight:400;}
// Top Navigation Menu
.topnav
  img(src='logoicon.png' alt='logocion' style='padding-top:4px;padding-left:4px;width:40px;height:40px; float:left;')
  a.active(href='/' style='font-family: Arial, Helvetica, sans-serif;')
    b
    | Benchmark
  // Navigation links (hidden by default)
  #myLinks
    a(href='/add') Add Bench
    a(href='/leaderboard') Leaderboard
    a(href='/fullscreenmap') Fullscreenmap
  // "Hamburger menu" / "Bar icon" to toggle the navigation links
  a.icon(href='javascript:void(0);' onclick='myFunction()')
    i.fa.fa-bars
#map(style='width: 100%; height: 95%; position: relative; outline: none;')
script.
  function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
  x.style.display = "none";
  } else {
  x.style.display = "block";
  }
  }

  var locations = [
  ["Waldbank ",50.16937101196147,8.443256020545961,"11:29:55pm", 000,  " &#128102; von bBob"],
  ["great view! ",50.56056280914898,9.670806527137758,"11:29:55pm", 000,  " &#128102; von bBob"],
  ["teeest",50.56392220143661,9.679025855144408,"05:59:24pm",5348900,"  &#128102; von unbekannt"],
  ["Bushaltestelle Bank",50.195600606644305,8.48049581050873,"06:18:18pm",1990596,"  &#128102; von sabby"],
  ["Dettweiler Tempel Bänke",50.18914785492485,8.476440310478212,"06:19:32pm",8727799,"  &#128102; von sabby"],
  ["Hildablick einige Bänke",50.18679909426759,8.471864461898805,"06:21:21pm",17715,"  &#128102; von sabby"],
  ["Bank",50.18485087869408,8.465223312377931,"06:22:14pm",618685,"  &#128102; von sabby"],
  ["Bank",50.18512579700331,8.465158939361574,"06:22:48pm",403640,"  &#128102; von sabby"],
  ["Bank",50.185057121073925,8.465368151664736,"06:23:03pm",3970841,"  &#128102; von sabby"],
  ["Bänke Döner",50.18552756995619,8.466875553131105,"06:23:33pm",9287446,"  &#128102; von sabby"],
  ["Bank",50.18405044945262,8.465791940689089,"06:24:05pm",6630053,"  &#128102; von sabby"],
  ["kleine Bank",50.17549661691251,8.39822054388142,"11:22:43pm",4549596,"  &#128102; von BenchHunter69"],
  ["am Durchgang",50.17671316005046,8.39792008816811,"11:23:10pm",9723289,"  &#128102; von BenchHunter69"],
  ["Bushaltestelle",50.177468172643025,8.404837660299107,"11:23:49pm",5018057,"  &#128102; von BenchHunter69"],
  ["Sonnenuntergang",50.560555482264625,9.671048176417704,"11:24:34pm",7422061,"  &#128102; von BenchHunter69"],
  ["kleine Bank",50.174852490289304,8.44912949751363,"11:26:59pm",2813007,"  &#128102; von BenchHunter69"],
  ["Bank Spielplatz",50.19733534253188,8.485152125358583,"11:44:50pm",1682847,"  &#128102; von sabby"],
  ["",50.15829068094377,8.461081981658937,"12:03:52am",7827308,"  &#128102; von Santino"],
  ["Bank mit Feldaussicht",50.16393819744719,8.453303575515749,"12:09:39am",7654822,"  &#128102; von Santino"],
  ["Bank mit schönem Ausblick",50.563373950709305,9.671605825424196,"12:13:39am",9559443,"  &#128102; von Banker"],
  ["Andere schöne Bank",50.56316616000634,9.672088623046877,"12:14:28am",4561221,"  &#128102; von Banker"],
  ["Wie kann man denn die Parkbank vergessen",50.182759376213895,8.468613624572756,"12:17:47am",178883,"  &#128102; von Banker"],
  ["Reudige Tisch-Sitz kombination",50.18361784941416,8.477454185485842,"12:19:49am",6456433,"  &#128102; von Banker"],
  ["Reudige Tisch-Sitz kombination 2",50.183591471983284,8.477379083633425,"12:21:01am",6372558,"  &#128102; von Banker"],
  ["Suff und Buff Bank",50.17738205918047,8.401408195495607,"12:22:22am",969965,"  &#128102; von Banker"],
  ["Die Aussicht knallt beim saufen",50.17665429112302,8.404777050018312,"12:24:36am",8839126,"  &#128102; von Banker"],
  ["schöne Wurzel zum drauf sitzen",50.17667982301479,8.405721187591555,"12:25:54am",8540903,"  &#128102; von Banker"],
  ["Neben der Wurzel gibts auch ne normale Bank (zum Glück)",50.17673162436727,8.405753374099733,"12:26:55am",5507518,"  &#128102; von Banker"],
  ["Jugendtreff Eppenhain",50.17182168062932,8.393039703369142,"12:27:49am",6046832,"  &#128102; von Banker"],
  ["Klassiche Rentner-Stalker Bank",50.17643700955769,8.467304706573488,"12:30:33am",8707287,"  &#128102; von Banker"],
  ["Bank",50.17012566694684,8.403736352920534,"12:33:16am",2456257,"  &#128102; von Banker"],
  ["Sitz-Tisch kombination (nutzung nur mit Einwilligung des Bademeisters! Achtung Gefahr!!)",50.182711240707526,8.454408645629885,"12:36:21am",3592508,"  &#128102; von Banker"],
  ["",50.179429173813205,8.469407558441164,"06:26:37am",9351576,"  &#128102; von Santino"],
  ["",50.18555151832576,8.461114168167116,"06:30:39am",3034657,"  &#128102; von Santino"],
  ["",50.18538235941468,8.446372747421266,"06:33:49am",3028782,"  &#128102; von Santino"],
  ["",50.18160148540372,8.439924716949465,"06:52:57am",3290616,"  &#128102; von Santino"],
  ["Sitzbank",50.18021923759039,8.473645824874174,"11:19:56am",9576521,"  &#128102; von BenchHunter69"],
  ["Bushaltestelle mit Sitzbank",50.18652211118165,8.441721532730428,"11:22:11am",7854623,"  &#128102; von BenchHunter69"],
  ]
  var attr_osm = 'Map data &copy; <a href="http://openstreetmap.org/">OpenStreetMap</a> contributors';
  var attr_overpass = 'POI via <a href="http://www.overpass-api.de/">Overpass API</a>';
  var tiles = L.tileLayer('https://a.tile.openstreetmap.de/{z}/{x}/{y}.png', {
  minZoom: 15,
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }),
  latlng = L.latLng(50.2320, 8.4574);
  var map = L.map('map',{center: latlng,
  zoom: 17,
  layers: [tiles],
  maxZoom: 18,
  preferCanvas: false,
  });
  //L.control.locate().addTo(map);
  var iconn = new L.Icon({
  iconUrl: 'leaf-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
  });
  var opl = new L.OverPassLayer({
  query: "(node['amenity'='bench']({{bbox}});node['leisure'='picnic_table']({{bbox}}););out body;",
  markerIcon: iconn,
  minZoom: 13,
  });
  map.addLayer(opl);
  var markers = L.markerClusterGroup({
  chunkedLoading: true,
  animate: true,
  maxClusterRadius: 1,
  iconCreateFunction: function (cluster) {
  return new L.Icon({
  iconUrl: 'cluster.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
  });
  },
  });
  var icon = new L.Icon({
  iconUrl: 'leaf-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
  });
  for (var i = 0; i < locations.length; i++) {
  var a = L.marker([
  parseFloat(locations[i][1]),
  parseFloat(locations[i][2])
  ], {icon: icon})
  .bindPopup(locations[i][0] + locations[i][5] )
  markers.addLayer(a);
  }
  map.addLayer(markers);
  map.locate({setView: true});
  function onLocationFound(e) {
  var radius = e.accuracy;
  var greenIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
  });
  L.marker(e.latlng, {icon: greenIcon}).addTo(map)
  .bindPopup("You are here!").openPopup();
  L.circle(e.latlng, radius).addTo(map);
  }

  setInterval(function(){ 
    map.on('locationfound', onLocationFound);
    console.log("setview");
  }, 2000);

  map.on('locationfound', onLocationFound);
  function onLocationError(e) {
  //alert(e.message);
  map.setView([50.2320, 8.4574], 6);
  }
  map.on('locationerror', onLocationError);
  L.control.scale().addTo(map);
  var searchControl = new L.esri.Controls.Geosearch().addTo(map);
  var results = new L.LayerGroup().addTo(map);
  searchControl.on('results', function(data){
  results.clearLayers();
  for (var i = data.results.length - 1; i >= 0; i--) {
  results.addLayer(L.marker(data.results[i].latlng));
  }
  });

    
  var x = !{data}
  console.log(x);

  for (var i = 0; i < x.length; i++) {
  var a = L.marker([
  parseFloat(x[i].lat),
  parseFloat(x[i].long)
  ], {icon: icon})
  .bindPopup(x[i].beschreibung + " 👦 from: " +  x[i].nickname )
  markers.addLayer(a);
  }
  map.addLayer(markers);

 


