body(style='margin:0;background-color:#4CAF50;')
center
    h1(style='color:white;margin-top:25vh;')
        | Position saved!
        br
        | Your bench will be visible on the map & leaderboard soon. <br> Thank you &#x2764;
    a(style='font-size:40px' href='/add') Go back here
    br
    h1(style='color:white;') or
    a(style='font-size:40px' href='/leaderboard') view leaderboard
